SET CLIENT_ENCODING TO UTF8;
SET STANDARD_CONFORMING_STRINGS TO ON;
BEGIN;
CREATE TABLE "env"."dwd_stations" (gid serial,
"station_id" numeric(6,0),
"date_from" date,
"date_to" date,
"altitude" real,
"latitude" real,
"longitude" real,
"name" varchar(100),
"state" varchar(100));
ALTER TABLE "env"."dwd_stations" ADD PRIMARY KEY (gid);
SELECT AddGeometryColumn('env','dwd_stations','geom','4326','MULTIPOINT',2);
INSERT INTO "env"."dwd_stations" ("station_id","date_from","date_to","altitude","latitude","longitude","name","state",geom) VALUES ('216','2004-10-01','2021-01-27','298','51.114300000000000','7.880700000000000','Attendorn-Neulisternohl','Nordrhein-Westfalen','0104000020E61000000100000001010000004B598638D6851F4066F7E461A18E4940');
INSERT INTO "env"."dwd_stations" ("station_id","date_from","date_to","altitude","latitude","longitude","name","state",geom) VALUES ('389','2009-11-01','2021-01-27','436','51.014800000000001','8.431800000000001','Berleburg, Bad-Arfeld','Nordrhein-Westfalen','0104000020E61000000100000001010000005BD3BCE314DD20408BFD65F7E4814940');
INSERT INTO "env"."dwd_stations" ("station_id","date_from","date_to","altitude","latitude","longitude","name","state",geom) VALUES ('390','2004-07-01','2021-01-27','610','50.983699999999999','8.368300000000000','Berleburg, Bad-St├╝nzel','Nordrhein-Westfalen','0104000020E6100000010000000101000000CD3B4ED191BC2040A089B0E1E97D4940');
CREATE INDEX ON "env"."dwd_stations" USING GIST ("geom");
COMMIT;
ANALYZE "env"."dwd_stations";
